
[submodule "vendor/libft"]
	path = vendor/libft
	url = ../libft.git
[submodule "vendor/scripts"]
	path = vendor/scripts
	url = ../scripts.git
[submodule "tests/born2root"]
	path = tests/born2root
	url = git@github.com:Univers42/born2root.git
